In [29]:
import pandas as pd
from preprocessors import TitleExtractor
from sklearn.model_selection import train_test_split

In [30]:
df = pd.read_csv('../data/titanic.csv')
y = df['survived']
X = df.drop(columns='survived')

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## config

In [32]:
VAR_TO_EXTRACT_TITLE = ['name']
VAR_NAME_OF_TITLE = ['title']

VARS_NA_TO_MEAN = ['age', 'fare']
VARS_NA_TO_MFREQ = ['embarked']

VARS_TO_DROP = ['body', 'home.dest', 'ticket', 'cabin']

SEX_MAPPING = {'male':1, 'female':0}
BOAT_MAPPING = {'?':0, 'any':1}


VARS_TO_FREQ_ENCODE = ['title', 'embarked', 'cabin']

In [35]:
TitleExtractor(variables=VAR_TO_EXTRACT_TITLE, list_of_new_col_names=VAR_NAME_OF_TITLE)

TypeError: TitleExtractor.__init__() got an unexpected keyword argument 'list_of_new_col_names'

In [28]:
extracted_title

['name']